/* Asegura que los botones se alineen en una fila horizontal */
td {
    text-align: center; /* Centra horizontalmente el contenido de la celda */
    white-space: nowrap; /* Evita que los botones salten a otra línea */
}

.btn-eliminar, .btn-editar, .btn-aceptar {
    display: inline-block; /* Mantén los botones en línea */
    margin: 0 5px; /* Espaciado horizontal entre botones */
    padding: 8px 12px;
    border-radius: 5px;
    font-size: 12px;
    cursor: pointer;
    transition: background-color 0.3s;
}

/* Estilos para el botón de eliminar */
.btn-eliminar {
    background-color: rgb(250, 14, 14);
    color: white;
    border: none;
}

.btn-eliminar:hover {
    background-color: darkred;
}

/* Estilos para el botón de editar */
.btn-editar {
    background-color: #4CAF50;
    color: white;
    border: none;
}

.btn-editar:hover {
    background-color: #45a049;
}

/* Estilos para el botón de aceptar */
.btn-aceptar {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s;
}

.btn-aceptar:hover {
    background-color: #218838;
}

.btn-aceptar:active {
    background-color: #1e7e34;
}
