
/* BOTON GUARDAR */

/* RADIO DE BOTON */
.radio-inputs {
  display: flex; /* Flexbox para el contenedor */
  flex-direction: column; /* Apila los elementos verticalmente */
  border-radius: 0.5rem;
  background-color: #e6e5e5;
  box-sizing: border-box;
  box-shadow: 0 0 0px 1px rgba(0, 0, 0, 0.06);
  padding: 0.5rem;
  width: 100%; /* Ancho del contenedor al 100% */
  font-size: 12px;
}

.radio-inputs .radio {
  margin-bottom: 0.5rem; /* Espaciado entre los radios */
}

.radio-inputs .radio input {
  display: none; /* Ocultar los radios de entrada */
}

.radio-inputs .radio .name {
  display: flex; /* Flexbox para centrar */
  cursor: pointer; /* Cambia el cursor al pasar sobre la etiqueta */
  align-items: center; /* Alinear elementos verticalmente */
  justify-content: center; /* Centra horizontalmente el contenido */
  border-radius: 0.5rem; /* Bordes redondeados */
  border: none; /* Sin borde */
  padding: 0.5rem; /* Espaciado interno */
  color: rgba(51, 65, 85, 1); /* Color del texto */
  transition: background-color 0.15s ease-in-out; /* Transición suave para el fondo */
  width: 100; /* Para ocupar todo el ancho del contenedor */
}

.radio-inputs .radio input:checked + .name {
  background-color: #e5b9d5; /* Color de fondo cuando está seleccionado */
  font-weight: 600; /* Peso de fuente más fuerte */
}

/* RADIO DE BOTON */
