/* Contenedor principal del calendario */
#calendar-container {
  display: flex;
  height: 100vh; /* Usa toda la altura de la vista */
}

/* Estilo del calendario */
#calendar {
  flex: 3; /* Ocupa el 75% del ancho del contenedor */
  margin: 5px;
  background-color: #527bd4;
  border-radius: 5px;
  border: 2px solid #bab9ff;
  overflow: hidden; /* Asegura que el contenido no se desborde */
}

/* Estilo de los días en el calendario */
.fc-daygrid-day {
  background-color: #bedfe0;
}

/* Estilo de los botones en la barra de herramientas */
.fc-header-toolbar .fc-toolbar-chunk button {
  border-radius: 20px;
  padding: 5px 15px;
  margin: 5px;
  font-size: 12px; /* Ajusta el tamaño del texto para que sea más legible en diferentes dispositivos */
}

/* Estilo general de los eventos dentro del calendario */
.fc-event {
  border-radius: 4px; /* Bordes redondeados */
  padding: 3px; /* Espaciado interno */
  font-size: 13px; /* Tamaño del texto dentro del evento */
  color: #000000; /* Color del texto */
  background-color: #b79ee2;
  transition: all 0.1s ease; /* Transición suave al interactuar */
  display: flex; /* Usar flexbox para alinear el contenido */
  flex-direction: column; /* Apilar el contenido verticalmente */
  justify-content: flex-start; /* Alinear al principio */
}

/* Estilo específico para los eventos en la vista dayGrid */
.fc-daygrid-event {
  white-space: normal; /* Permite que el texto se ajuste en varias líneas */
}

/* Asegura que los eventos no se superpongan ni se desborden */
.fc-event {
  overflow: hidden; /* Oculta cualquier desbordamiento */
  text-overflow: ellipsis; /* Añade puntos suspensivos si hay un desbordamiento */
}
